<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neomics</title>
</head>
<body>
{% load static %}
<script type="text/javascript" src="{% static "compute_graph/index.js" %}"></script>
    <h1>Compute graph</h1>
    <h2>
        <select multiple id="object">
            <option value = "human">Human</option>
            <option value = "arabidopsis">Arabidopsis</option>
            <option value = "mouse">Mouse</option>
        </select>
        <button id ="selection" type="button" onclick="stat()">Process Analysis</button>
    </h2>
    <a href="/">Home</a>
</body>
</html>