<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neomics</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'compute_graph/bootstrap.css' %}">

</head>
<body>
    <h1>Compute graph</h1>
    {%  if organism_list %}
        <ul>
        {% for organism in organism_list %}
            <li><a href = "{% url 'compute_graph:stat_choice' organism.organism %}">{{ organism.organism }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <a href="/">Home</a>
</body>
</html>