<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neomics</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Common/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ComputeGraph/template.css' %}">
</head>
<body>
<h1>{{ analysis.name }} on {{ project.name }}</h1>

{% if error_message %}
    <em>{{ error_message }}</em>
{% endif %}

<form action="{% url 'ComputeGraph:stat_load' project.name analysis.name %}" method="post">
    {% csrf_token %}
    {% for param in params %}
        <p>
            <label for="{{ param.name }}" data-toggle="tooltip" title="{{ param.help_text }}">
                {{ param.name }} =
            </label>
            <input type="text" name="{{ param.name }}" id="{{ param.name }}" value="{{ param.default }}">

        </p>

    {% endfor %}
    <button type="submit">Calculate and Import to neo4j</button>
</form>

<a href="/"><img src="{% static 'Common/home-icon-silhouette.svg' %}" height='40px' class="button_home"></a>
</body>
</html>