<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neomics</title>
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ComputeGraph/../../static/Common/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'ComputeGraph/template.css' %}">

</head>
<body>
<h1>Compute graph</h1>
<div class="text_list">
    {%  if families %}
        {% for family in families %}
            {% if family.analysis_set.all %}
                <h2>{{ family.name }}</h2>
                <ul>
                    {% for analysis in family.analysis_set.all %}
                        <li><a href="{{ request.path }}/{{ analysis.name }}">{{ analysis.name }}</a></li>
                    {% endfor %}
                </ul>

            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<a href="/"><img src="{% static 'Common/home-icon-silhouette.svg' %}" height='40px' class="button_home"></a>
</body>
</html>