<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neomics</title>
</head>
<body>
{% load static %}
<h1>Graph Viewer</h1>
{% if organism_list %}
    <ul>
        {% for organism in organism_list %}
            <li><a href="{% url 'viewer:graph' organism.organism %}">{{ organism.organism }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
<a href="/">Home</a>
<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
<script src="https://unpkg.com/neo4j-driver"></script>

</body>
</html>