<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neomics</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Common/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'Viewer/template.css' %}">
</head>
<body>
{% load static %}
<h1>Graph Viewer</h1>
<div>
{% if graph_list %}
    <ul class="text_list">
        {% for graph in graph_list %}
            <li><a href="{% url 'Viewer:graph' graph %}">{{ graph }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
</div>
<a href="/"><img src="{% static 'Common/home-icon-silhouette.svg' %}" height='40px' class="button_home"></a>
<script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
<script src="https://unpkg.com/neo4j-driver"></script>

</body>
</html>